body {
  background-image: url(../images/sprinkles.png);
  overflow-x: hidden; }

nav {
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 0;
  height: 80px; }

nav ul a {
  color: #1e857a;
  margin-bottom: -2px;
  line-height: 80px;
  cursor: pointer !important; }

nav ul li {
  line-height: auto; }

nav ul li:hover {
  border: 1px solid white; }

nav ul a:hover {
  color: white; }

i.mdi-navigation-menu {
  color: #1e857a; }

.shoe-dropin {
  position: absolute;
  top: 10%;
  left: 0; }

.anim-shoe {
  max-width: 400px; }

#index-banner {
  background-color: #b32b42;
  background-image: url("../images/banner-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 64px;
  padding-bottom: 45px; }
  #index-banner .header {
    text-shadow: 1px 2px 1px #26a69a; }

.header {
  text-align: right; }

.best-header {
  position: relative;
  z-index: 99; }

#shoebrands {
  border-bottom: 2px solid #b32b42;
  box-shadow-bottom: 1px 1px 3px #b32b42; }
  #shoebrands .shoe-brand-cta {
    height: 70px;
    width: 100px;
    display: inline-block;
    margin-right: 1em; }

.featured-prod-title {
  color: #b32b42; }

.shoe-image {
  position: relative; }

.shoe-image > img {
  width: 100%; }

.see-all {
  margin-top: 3rem; }

.review-card {
  background-color: rgba(0, 0, 0, 0.5); }

.testimonial-user-left {
  height: 120px;
  width: 120px;
  border-radius: 100%;
  margin: 1em 1em; }

/********************/
.map-section {
  padding-top: 80px; }

#contact-form {
  background-image: url(../images/banner-img.png);
  background-repeat: no-repeat;
  background-size: 100% 100%; }

/* label color */
.input-field label {
  color: #000; }

/* label focus color */
.input-field input[type=text]:focus + label {
  color: #1e857a; }

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }

/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }

/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }

/* icon prefix focus color */
.input-field .prefix.active {
  color: #000; }

.input-field i {
  color: #b32b42; }

#submit-button {
  background-color: #b32b42; }

#submit-button:hover {
  background-color: #1e857a; }

.column-left {
  background-image: url(../images/sprinkles.png); }
  .column-left h2 {
    color: #1e857a; }

.column-right {
  background-image: url(../images/sprinkles.png); }
  .column-right h3 {
    color: #1e857a; }
  .column-right .collection .collection-item {
    background-color: transparent;
    line-height: 1.0rem;
    padding: 6px 20px;
    margin: 0;
    border-bottom: 1px solid #e0e0e0; }

/**************/
#about-banner {
  background-color: #1e857a;
  height: auto; }

.img-back {
  display: none; }

.employee-container {
  padding-top: 3rem;
  width: 46%; }

.employee-img {
  height: 150px;
  width: 150px; }

/*# sourceMappingURL=style.css.map */
