///////// VARIABLES
// tan
$primary-color:#e7d7c8;

// red
$secondary-color:#b32b42; //rgba(179,43,66);

// green
$tertiary-color:#1e857a;

/////////////// UNIVERSAL STYLES ///////////////////

body{
  background-image:url(../images/sprinkles.png);
  overflow-x: hidden;
}
.container{
  width: 86.666%;
}
a{
  text-decoration: none!important;
}
.btn, .btn-large{
  background-color:$tertiary-color;
}
.slider .slides {
  background-color: transparent;
  margin: 0;
  height: 400px;
}
nav .button-collapse i{
  line-height: 60px;
}
///////////// NAVIGATION ///////////////////
nav{
  background-color: rgba(255,255,255,0.8);
  position: absolute;
  top: 0;
  height: 60px;
}
nav ul a{
  color: $tertiary-color;
  margin-bottom: -2px;
  line-height: 60px;
  cursor: pointer!important;
}
nav ul li{
  line-height: auto;
}
nav ul li:hover{
  border: 1px solid white;
}
nav ul a:hover{
  color: white;
}
i.mdi-navigation-menu{
  color: $tertiary-color;
}
// mobile NAVIGATION
.side-nav{
  background-color: rgba(179,43,66,0.8);
  a{
    color: #FFF;
  }
}

/////// SOCIAL
.social{
  position:fixed;
  top: 80px;
  z-index: 9999;
  ul{
    padding:1em;
    background-color: $tertiary-color;
    li{
      font-size: 1.5em;
      i{
        color: white;
      }
      i:hover{
        color: $secondary-color;
        cursor:pointer;
      }
    }
  }
}
.mobile-contact{
  display: none;
}


//footer

footer.page-footer{
  background-color: $tertiary-color;
  padding: 0;
  .color-text{
  }
  .shoe-cards{
    color: white;
    text-shadow: none;
    a{
      color: #FFF;
      text-decoration: none;
    }
    a:hover{
      color: $primary-color;
    }
    ul{
      margin-top: 0.3em;
      li{
      display:inline-block; 
      padding:0 0.5em;
      font-size: 0.8em;
      }
    }
    p{
      font-size: 0.8em;
    }
  }
}
.stitched {
  padding: 7px 20px;
  margin: 0;
  background: #F8F8FF;
  color: #000000;
  font-size: 21px;
  font-weight: bold;
  border-top: 2px dashed white;
  text-shadow: 1px 1px 2px #F8F8FF;
  font-weight: normal;
}




////////////////HOME PAGE STYLES////////////////
// SHOE ANIMATION
.logo-dropin{
  position: absolute;
  top: 0;
  left: 0;
}
.brand-logo{
  img{
  height: 55px;
  }
}
#logo{
  height: 200px;
  padding: 1em;
}
#top-banner{
  padding-top: 60px;
}
#banner-row{
  background-color: $secondary-color;
}
#store-front-hd{
  padding: 1em;
}
.header{
  text-align: right;
}
.best-header{
  position:relative;
  z-index: 99;
}
.banner-text{
  color: white;
}

// ----====FEATURED SHOE BRANDS---========
#shoebrands{  
  .shoe-brand-cta{
    display: inline-block;
    margin-right: 1em;
    background-color: transparent;
    box-shadow: none;
    margin: 1em -6px;
    border-bottom: 2px solid $secondary-color;
    padding: 0.2em 1em;
    img{
      height: 50px;
      vertical-align: middle;
    }
  }
}

//----=== FEATURED PRODUCTS ----======
.featured-prod-title{
  color: $secondary-color;
}
.shoe-image{
  position:relative;
}
.shoe-image > img{
  width: 100%;
}
.see-all{
  margin-top: 1rem;
}
//---===== SLIDER BOTTOM AND TESTIMONIALS ====-----



.review-card{
  background-color: rgba(0,0,0,0.5);
}
.testimonial-user-left{
  // height: 120px;
  // width: 120px;
  // border-radius:100%;
  // margin:1em 1em;
}

.slider{
  z-index: -4;
}

.carousel-container{
  width: 100%;
  padding:0;
  margin:0;
  z-index: 0;
  position:relative;
}
.carousel-inner{
  width: 100%;
  max-height: 400px !important;
}
.item{
  width: 100%;
  img{
    width:100%;
  }
}
#slider-thumbs{
  position:absolute;
  bottom:0;
  z-index: 9999;
}
#pic-selectors{
  a{
    background-color:white;
    cursor: pointer;
    img{
    height: 70px;
    border: 2px solid white;
    }
  }
}
.review-card{
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 9999;
  top: 30px;
  width: 50%;
  left: 25%;
  color: white;
}
#pic-selectors a:hover img{
  border: 2px solid $secondary-color;
}
/********************/

/////////////////// CONTACT PAGE STYLES //////////////////////////
.map-section{
  padding-top:55px;
}
#contact-form{
  // background:url(../images/sprinkles.png);
  // background-repeat:no-repeat;
  // background-size:100% 100%;
}
//FORM STYLES
  
  /* label color */
   .input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: $tertiary-color;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #000;
   }
   .input-field{
    i{
      color: $secondary-color;
    }
   }
   #submit-button{
    background-color:$secondary-color;
   }
    #submit-button:hover{
    background-color:$tertiary-color;
   }

// CONTACT COLUMNS
.column-left{
  background-image:white;
  h2{
    color: $tertiary-color;
  }
}
.column-right{
  background-image:white;
  h3{
    color: $tertiary-color;
  }
  .collection .collection-item {
    background-color: transparent;
    line-height: 1.0rem;
    padding: 6px 20px;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
  }
}

// overlay

.overlay {
   background:transparent; 
   position:relative; 
   width:100%;
   height:400px; /* your iframe height */
   top:400px;  /* your iframe height */
   margin-top:-400px;  /* your iframe height */
}

/**************/

//////////////////ABOUT PAGE STYLES
#about-banner{
  background-color: $tertiary-color;
  height: auto;
}

.img-back{
  display: none;
}

.employee-container{
  padding-top: 3rem;
  width: 46%;
}
.employee-img{
  height: 150px;
  width: 150px;
}


////////////////PRODUCTS PAGE STYLES
#product-container{
  margin-top: 90px;
}

.brand-box{
  height: 200px;
}
.bottom-sheet{
  height: 275px;
}
#uggBack{
  background-color: white;
  background-image:url(../images/ugg-bg.png);
  background-size: 88%;
  background-repeat:no-repeat;
  background-position: bottom; 
}
#clarksBack{
  background-color: white;
  background-image:url(../images/clarks.png);
  background-size:100%;
  background-repeat:no-repeat;
  background-position: center; 

}
#danskoBack{
  background-color: white;
  background-image:url(../images/dansko.png);
  background-size:100%;
  background-repeat:no-repeat;
  background-position: bottom; 
}
#pikolinosBack{
  background-color: white;
  background-image:url(../images/pikolinos.png);
  background-size:100%;
  background-repeat:no-repeat;
  background-position: center; 
}
#flyBack{
  background-color: white;
  background-image:url(../images/fly.png);
  background-size:75%;
  background-repeat:no-repeat;
  background-position: center;   
}
#minnetonBack{
  background-color: white;
  background-image:url(../images/minnetonkanew.png);
  background-size:100%;
  background-repeat:no-repeat;
  background-position: center;  
}
#merrellBack{
  background-color: white;
  background-image:url(../images/merrell.png);
  background-size:100%;
  background-repeat:no-repeat;
  background-position: center;   
}
#birkenBack{
  background-color: white;
  background-image:url(../images/birkenstock.png);
  background-size:100%;
  background-repeat:no-repeat;
  background-position: center;   
}
#eccoBack{
  background-color: white;
  background-image:url(../images/ecco_logo.png);
  background-size:100%;
  background-repeat:no-repeat;
  background-position: center;   
}
#kiplingBack{
  background-color: white;
  background-image:url(../images/kipling.png);
  background-size:100%;
  background-repeat:no-repeat;
  background-position: center;    
}
#rockportBack{
  background-color: white;
  background-image:url(../images/rockport.png);
  background-size:100%;
  background-repeat:no-repeat;
  background-position: center;  
}
#sasBack{
  background-color: white;
  background-image:url(../images/sas.png);
  background-size:100%;
  background-repeat:no-repeat;
  background-position: center;    
}
#nbBack{
  background-color:white;
  background-image:url(../images/nb.png);
  background-size:100%;
  background-repeat:no-repeat;
  background-position: center;   
}
.brand-box{
  transition-duration:0.5s;
  -webkit-transition-duration:0.5s;
    -moz-transition-duration:0.5s;
    -o-transition-duration:0.5s;
}
.modal-trigger:hover{
  .brand-box{
    background-size:80%!important;
    transition-duration: 0.5s;
      -webkit-transition-duration:0.5s;
      -moz-transition-duration:0.5s;
      -o-transition-duration:0.5s;
    transition-timing-function: linear;
  }
}


/////////////// BLOG PAGES 
/* blog page */
.blog{
  padding-top:80px;
  background-image: url(/images/sprinkles.png);
}
.blog-post{
  width:33%;
  float:left;
}
/* //single post page  */
.single-post {
  padding-top: 80px;
  background-image: url(/images/sprinkles.png);
}

/* Thumbnail size */
img.attachment-post-thumbnail {
  height:100%;
}
/* individual-post-size */
.individual-post-img img{
  height: auto;
}
.form-allowed-tags{
  display: none;
}
.form-submit .submit{
    background-color: #1e857a;
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  transition: all .3s ease-out;
  height: 54px;
  line-height: 56px;
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  outline: 0;
  padding: 0 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  margin: 1em 0;
  color: white;
}


////////////////////////// MEDIA QUERIES
@media screen and (max-width:750px){
  #slider-thumbs{
    display: none;
  }
  .review-card{
    width: 80%;
    left: 10%;
    top: 0;
    .testimonial-user-left{
      display: none;
    }
  }
}
@media screen and (max-width:600px){
  .logo-dropin{
    img{
      display: none;
    }
  }
  .social{
    z-index: 9999;
    top: inherit;
    top:0;
    right: 0;
    .soc-media-icons{
      display: none;
    }
    .mobile-contact{
      display:block;
        li{
          display: inline-block;
          i{
            font-size: 1.1em;
          }
        }
    }
    ul{
      li{
        display: inline-block;
      }
    }
  }
  
  #shoebrands{
    .shoe-brand-cta{
      img{
        height: 27px;
      }
    }
  }

  #banner-row{
    display: block;
  }
}

// products page QUERIES
@media screen and(max-width:900px){
  .brand-box{
    height: 150px;
  }
}

@media screen and(max-width:500px){
  .brand-box{
    height: 86px;
  }
  .page-footer{
    padding-bottom:3em;
    .shoe-cards{
      text-align: center;
    }
  }

}


