body {
  background-image: url(../images/sprinkles.png);
  overflow-x: hidden; }

.container {
  width: 86.666%; }

a {
  text-decoration: none !important; }

.btn, .btn-large {
  background-color: #1e857a; }

.slider .slides {
  background-color: transparent;
  margin: 0;
  height: 400px; }

nav .button-collapse i {
  line-height: 60px; }

nav {
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 30px;
  height: 60px; }

nav ul a {
  color: #1e857a;
  margin-bottom: -2px;
  line-height: 60px;
  cursor: pointer !important; }

nav ul a:hover {
  color: #1e857a;
  margin-bottom: -2px;
  line-height: 60px;
  cursor: pointer !important; }

nav ul li {
  line-height: auto; }

nav ul li:hover {
  border: none;
  border-bottom: 3px solid white;
  background: none; }
  nav ul li:hover a {
    color: #1e857a; }

nav ul a:hover {
  color: white; }

i.mdi-navigation-menu {
  color: #1e857a; }

.side-nav {
  background-color: rgba(179, 43, 66, 0.8); }
  .side-nav a {
    color: #FFF; }

#storeInfo {
  position: absolute;
  top: 0;
  background-color: #1e857a;
  height: 30px; }

#storeInfo ul a {
  line-height: 30px;
  color: white; }

#pageNav {
  top: 30px; }
  #pageNav #logo-container {
    line-height: 55px; }

.social {
  position: fixed;
  top: 80px;
  z-index: 9999; }
  .social ul {
    padding: 1em;
    background-color: #1e857a; }
    .social ul li {
      font-size: 1.5em; }
      .social ul li i {
        color: white; }
      .social ul li i:hover {
        color: #b32b42;
        cursor: pointer; }

.mobile-contact {
  display: none; }

footer.page-footer {
  background-color: white;
  padding: 0;
  margin-top: 0; }
  footer.page-footer .color-text {
    color: grey; }
  footer.page-footer .shoe-cards {
    color: white;
    text-shadow: none; }
    footer.page-footer .shoe-cards a {
      color: #b32b42;
      text-decoration: none; }
    footer.page-footer .shoe-cards a:hover {
      color: #e7d7c8; }
    footer.page-footer .shoe-cards ul {
      margin-top: 0.3em; }
      footer.page-footer .shoe-cards ul li {
        display: inline-block;
        padding: 0 0.5em;
        font-size: 0.8em; }
    footer.page-footer .shoe-cards p {
      font-size: 0.8em; }

.stitched {
  padding: 7px 20px;
  margin: 0;
  background: #F8F8FF;
  color: #000000;
  font-size: 21px;
  font-weight: bold;
  border-top: 2px dashed white;
  text-shadow: 1px 1px 2px #F8F8FF;
  font-weight: normal; }

#social-home li {
  font-size: 1.2em; }

.logo-dropin {
  position: absolute;
  top: 0;
  left: 0; }

.brand-logo img {
  height: 55px; }

#logo {
  height: 200px;
  padding: 1em; }

#top-banner {
  padding-top: 60px; }

#banner-row {
  background-color: #b32b42; }

#store-front-hd {
  padding: 1em; }

.header {
  text-align: right; }

.best-header {
  position: relative;
  z-index: 99; }

.banner-text {
  color: white; }

#shoebrands .shoe-brand-cta {
  display: inline-block;
  margin-right: 1em;
  background-color: transparent;
  box-shadow: none;
  margin: 1em -6px;
  border-bottom: 2px solid #b32b42;
  padding: 0.2em 1em; }
  #shoebrands .shoe-brand-cta img {
    height: 50px;
    vertical-align: middle; }

.featured-prod-title {
  color: #b32b42; }

.shoe-image {
  position: relative; }

.shoe-image > img {
  width: 100%; }

.see-all {
  margin-top: 1rem; }

.review-card {
  background-color: rgba(0, 0, 0, 0.5); }

.slider {
  z-index: -4; }

.carousel-container {
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 0;
  position: relative; }

.carousel-inner {
  width: 100%;
  max-height: 400px !important; }

.item {
  width: 100%; }
  .item img {
    width: 100%; }

#slider-thumbs {
  position: absolute;
  bottom: 0;
  z-index: 9999; }

#pic-selectors a {
  background-color: white;
  cursor: pointer; }
  #pic-selectors a img {
    height: 70px;
    border: 2px solid white; }

.review-card {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 9999;
  top: 30px;
  width: 50%;
  left: 25%;
  color: white; }

#pic-selectors a:hover img {
  border: 2px solid #b32b42; }

/********************/
.map-section {
  padding-top: 87px; }

/* label color */
.input-field label {
  color: #000; }

/* label focus color */
.input-field input[type=text]:focus + label {
  color: #1e857a; }

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }

/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }

/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }

/* icon prefix focus color */
.input-field .prefix.active {
  color: #000; }

.input-field i {
  color: #b32b42; }

#submit-button {
  background-color: #b32b42; }

#submit-button:hover {
  background-color: #1e857a; }

.column-left {
  background-image: white; }
  .column-left h2 {
    color: #1e857a; }

.column-right {
  background-image: white; }
  .column-right h3 {
    color: #1e857a; }
  .column-right .collection .collection-item {
    background-color: transparent;
    line-height: 1.0rem;
    padding: 6px 20px;
    margin: 0;
    border-bottom: 1px solid #e0e0e0; }

.overlay {
  background: transparent;
  position: relative;
  width: 100%;
  height: 400px;
  /* your iframe height */
  top: 400px;
  /* your iframe height */
  margin-top: -400px;
  /* your iframe height */ }

/**************/
#about-banner {
  background-color: #1e857a;
  height: auto; }

.img-back {
  display: none; }

.employee-container {
  padding-top: 3rem;
  width: 46%; }

.employee-img {
  height: 150px;
  width: 150px; }

#product-container {
  margin-top: 90px;
  margin-right: 20px; }

.brand-box {
  height: 200px;
  margin-top: 10px;
  margin-right: 10px; }

.bottom-sheet {
  height: 275px; }

#uggBack {
  background-color: white;
  background-image: url(../images/ugg-bg.png);
  background-size: 88%;
  background-repeat: no-repeat;
  background-position: bottom; }

#clarksBack {
  background-color: white;
  background-image: url(../images/clarks.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center; }

#danskoBack {
  background-color: white;
  background-image: url(../images/dansko.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom; }

#pikolinosBack {
  background-color: white;
  background-image: url(../images/pikolinos.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center; }

#flyBack {
  background-color: white;
  background-image: url(../images/fly.png);
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center; }

#minnetonBack {
  background-color: white;
  background-image: url(../images/minnetonkanew.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center; }

#merrellBack {
  background-color: white;
  background-image: url(../images/merrell.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center; }

#birkenBack {
  background-color: white;
  background-image: url(../images/birkenstock.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center; }

#eccoBack {
  background-color: white;
  background-image: url(../images/ecco_logo.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center; }

#kiplingBack {
  background-color: white;
  background-image: url(../images/kipling.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center; }

#rockportBack {
  background-color: white;
  background-image: url(../images/rockport.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center; }

#sasBack {
  background-color: white;
  background-image: url(../images/sas.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center; }

#nbBack {
  background-color: white;
  background-image: url(../images/nb.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center; }

.brand-box {
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s; }

.modal-trigger:hover .brand-box {
  background-size: 80% !important;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-timing-function: linear; }

/* blog page */
.blog {
  padding-top: 80px;
  background-image: url(/images/sprinkles.png); }

.blog-post {
  width: 33%;
  float: left; }

/* //single post page  */
.single-post {
  padding-top: 80px;
  background-image: url(/images/sprinkles.png); }

/* Thumbnail size */
img.attachment-post-thumbnail {
  height: 100%; }

/* individual-post-size */
.individual-post-img img {
  height: auto; }

.form-allowed-tags {
  display: none; }

.form-submit .submit {
  background-color: #1e857a;
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  transition: all .3s ease-out;
  height: 54px;
  line-height: 56px;
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  outline: 0;
  padding: 0 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  margin: 1em 0;
  color: white; }

@media screen and (max-width: 750px) {
  #slider-thumbs {
    display: none; }

  .review-card {
    width: 80%;
    left: 10%;
    top: 0; }
    .review-card .testimonial-user-left {
      display: none; } }
@media screen and (max-width: 600px) {
  .logo-dropin img {
    display: none; }

  .social {
    z-index: 9999;
    top: inherit;
    top: 0;
    right: 0; }
    .social .soc-media-icons {
      display: none; }
    .social .mobile-contact {
      display: block; }
      .social .mobile-contact li {
        display: inline-block; }
        .social .mobile-contact li i {
          font-size: 1.1em; }
    .social ul li {
      display: inline-block; }

  #shoebrands .shoe-brand-cta img {
    height: 27px; }

  #banner-row {
    display: block; } }
@media screen and (max-width: 900px) {
  .brand-box {
    height: 150px; } }
@media screen and (max-width: 500px) {
  .brand-box {
    height: 86px; }

  .page-footer {
    padding-bottom: 3em; }
    .page-footer .shoe-cards {
      text-align: center; } }

/*# sourceMappingURL=style.css.map */
