///////// VARIABLES
// tan
$primary-color:#e7d7c8;

// red
$secondary-color:#b32b42; //rgba(179,43,66);

// green
$tertiary-color:#1e857a;

// $font-stack:;


/////////////// UNIVERSAL STYLES ///////////////////

body{
  background-image:url(../images/sprinkles.png);
  overflow-x: hidden;
}

///////////// NAVIGATION ///////////////////
nav{
  background-color: rgba(255,255,255,0.8);
  position: absolute;
  top: 0;
  height: 80px;
}
nav ul a{
  color: $tertiary-color;
  margin-bottom: -2px;
  line-height: 80px;
  cursor: pointer!important;
}
nav ul li{
  line-height: auto;
}
nav ul li:hover{
  border: 1px solid white;
}
nav ul a:hover{
  color: white;
}
i.mdi-navigation-menu{
  color: $tertiary-color;
}

////////////////HOME PAGE STYLES////////////////
// SHOE ANIMATION
.shoe-dropin{
  position: absolute;
  top: 10%;
  left: 0;
}
.anim-shoe{
  max-width:400px;
}

// top call to action
#index-banner{
  background-color: $secondary-color;
  background-image: url('../images/banner-img.png');
  background-position: center;
  background-repeat:no-repeat;
  background-size:100% 100%;
  padding-top: 64px;
  padding-bottom: 45px;
 .header{
  text-shadow: 1px 2px 1px #26a69a;
 }

}
.header{
  text-align: right;
}
.best-header{
  position:relative;
  z-index: 99;
}

// ----====FEATURED SHOE BRANDS---========
#shoebrands{
  border-bottom: 2px solid $secondary-color;
  box-shadow-bottom: 1px 1px 3px $secondary-color;
  
  .shoe-brand-cta{
    height: 70px;
    width: 100px;
    display: inline-block;
    margin-right: 1em;
  }
}

//----=== FEATURED PRODUCTS ----======
.featured-prod-title{
  color: $secondary-color;
}
.shoe-image{
  position:relative;
}
.shoe-image > img{
  width: 100%;
}
.see-all{
  margin-top: 3rem;
}
//---===== SLIDER BOTTOM AND TESTIMONIALS ====-----

.review-card{
  background-color: rgba(0,0,0,0.5);
}
.testimonial-user-left{
  height: 120px;
  width: 120px;
  border-radius:100%;
  margin:1em 1em;
}

/********************/

/////////////////// ABOUT PAGE STYLES //////////////////////////
.map-section{
  padding-top:80px;
}
#contact-form{
  background-image:url(../images/banner-img.png);
  background-repeat:no-repeat;
  background-size:100% 100%;
}
//FORM STYLES
  
  /* label color */
   .input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: $tertiary-color;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #000;
   }
   .input-field{
    i{
      color: $secondary-color;
    }
   }
   #submit-button{
    background-color:$secondary-color;
   }
    #submit-button:hover{
    background-color:$tertiary-color;
   }

// CONTACT COLUMNS
.column-left{
  background-image:url(../images/sprinkles.png);
  h2{
    color: $tertiary-color;
  }
}
.column-right{
  background-image:url(../images/sprinkles.png);
  h3{
    color: $tertiary-color;
  }
  .collection .collection-item {
    background-color: transparent;
    line-height: 1.0rem;
    padding: 6px 20px;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
  }
}


/**************/

//////////////////ABOUT PAGE STYLES
#about-banner{
  background-color: $tertiary-color;
  height: auto;
}

.img-back{
  display: none;
}

.employee-container{
  padding-top: 3rem;
  width: 46%;
}
.employee-img{
  height: 150px;
  width: 150px;
}





