body {
  background-image: url(../images/sprinkles.png);
  overflow-x: hidden; }

nav {
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 0;
  height: 80px; }

nav ul a {
  color: #1e857a;
  margin-bottom: -2px;
  line-height: 80px;
  cursor: pointer !important; }

nav ul li {
  line-height: auto; }

nav ul li:hover {
  border: 1px solid white; }

nav ul a:hover {
  color: white; }

i.mdi-navigation-menu {
  color: #1e857a; }

.side-nav {
  background-color: rgba(179, 43, 66, 0.8); }
  .side-nav a {
    color: #FFF; }

.social {
  position: fixed;
  top: 65px; }
  .social ul {
    padding: 1em;
    background-color: #1e857a; }
    .social ul li {
      font-size: 1.5em; }
      .social ul li i {
        color: white; }
      .social ul li i:hover {
        color: #b32b42;
        cursor: pointer; }

.shoe-dropin {
  position: absolute;
  top: 0;
  left: 0; }

#index-banner {
  background-color: #b32b42;
  background-image: url("../images/banner-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 64px;
  padding-bottom: 45px; }
  #index-banner .header {
    text-shadow: 1px 2px 1px #26a69a; }

.header {
  text-align: right; }

.best-header {
  position: relative;
  z-index: 99; }

#shoebrands .shoe-brand-cta {
  display: inline-block;
  margin-right: 1em;
  background-color: transparent;
  box-shadow: none; }
  #shoebrands .shoe-brand-cta img {
    height: 50px;
    vertical-align: middle; }

.featured-prod-title {
  color: #b32b42; }

.shoe-image {
  position: relative; }

.shoe-image > img {
  width: 100%; }

.see-all {
  margin-top: 3rem; }

.review-card {
  background-color: rgba(0, 0, 0, 0.5); }

.testimonial-user-left {
  height: 120px;
  width: 120px;
  border-radius: 100%;
  margin: 1em 1em; }

/********************/
.map-section {
  padding-top: 80px; }

#contact-form {
  background-image: url(../images/banner-img.png);
  background-repeat: no-repeat;
  background-size: 100% 100%; }

/* label color */
.input-field label {
  color: #000; }

/* label focus color */
.input-field input[type=text]:focus + label {
  color: #1e857a; }

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }

/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }

/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }

/* icon prefix focus color */
.input-field .prefix.active {
  color: #000; }

.input-field i {
  color: #b32b42; }

#submit-button {
  background-color: #b32b42; }

#submit-button:hover {
  background-color: #1e857a; }

.column-left {
  background-image: url(../images/sprinkles.png); }
  .column-left h2 {
    color: #1e857a; }

.column-right {
  background-image: url(../images/sprinkles.png); }
  .column-right h3 {
    color: #1e857a; }
  .column-right .collection .collection-item {
    background-color: transparent;
    line-height: 1.0rem;
    padding: 6px 20px;
    margin: 0;
    border-bottom: 1px solid #e0e0e0; }

.overlay {
  background: transparent;
  position: relative;
  width: 100%;
  height: 400px;
  /* your iframe height */
  top: 400px;
  /* your iframe height */
  margin-top: -400px;
  /* your iframe height */ }

/**************/
#about-banner {
  background-color: #1e857a;
  height: auto; }

.img-back {
  display: none; }

.employee-container {
  padding-top: 3rem;
  width: 46%; }

.employee-img {
  height: 150px;
  width: 150px; }

#product-container {
  margin-top: 90px; }

.brand-box {
  height: 200px; }

.s2 {
  background-color: green; }

.s3:nth-child(2) {
  background-color: white; }

.s3 {
  background-color: blue; }

.s4 {
  background-color: purple; }

.s5 {
  background-color: gold; }

.s6 {
  background-color: yellow; }

#uggBack {
  background-image: url(../images/ugg-bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center; }

#clarksBack {
  background-image: url(../images/clarks-bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center; }

#danskoBack {
  background-image: url(../images/dansko.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center; }

@media screen and (max-width: 600px) {
  .shoe-dropin img {
    display: none; }

  .social {
    z-index: 9999;
    top: inherit;
    bottom: 0; }
    .social ul li {
      display: inline-block; }

  #shoebrands .shoe-brand-cta img {
    height: 27px; } }

/*# sourceMappingURL=style.css.map */
