body{
  background-color: #b32b42;
}
.container{
  width:90%;
}
.container.blog-admin-index{
  background-color: rgba(255,255,255,0.8);
}
nav{
  background-color: rgba(255,255,255,0.8);
  position: absolute;
  top: 0;
  height: 80px;
}
nav ul a{
  color: #1e857a;
  margin-bottom: -2px;
  line-height: 80px;
  cursor: pointer!important;
}
nav ul li{
  line-height: auto;
}
nav ul li:hover{
  border: 1px solid white;
}
nav ul a:hover{
  color: white;
}

/* CSS declarations go here */
.row{
  padding-top: 4rem;
}

/*//post heading and such*/
.post{
  background-color: rgba(255,255,255,0.8);
  padding: 1em;
}
.post a{
  color: #1e857a;
}

.heading{
  margin-top: 5rem;
}

#login-buttons {
  display: inline-block;
  margin-right: 0.2px;
  line-height: 1;
  position: absolute;
  z-index: 999999999;
  position: top;
  top: 0;
  cursor: pointer;
}
